.Bg-body_left{
    grid-column: span calc(12/1.5);
}

.main--blog{
    padding: 8px 44px 0;
    margin-bottom: 40px;
}

.Bg-container_top{
    margin-bottom: 80px;
}

.Bg-container_top h1{
    color: #242424;
    font-size: 28px;
    font-weight: 900;
}

.Bg-title{

}

.Bg-body{

}

.Bg-body_left{

}

.Bg-body_leftLayout{
    padding:0 12px ;
}

.Bg-body_leftLayout > .hug {
    padding: 0 30px 44px 0;
}

.Bg-Layout_postItem{
    border: 2px solid #e8e8e8;
    border-radius: 16px;
    padding: 24px;
}

.Bg-postItem_header{
    display: flex;
    justify-content: space-between;
}

.Bg-postItem_header-left{
    display: flex;
}

.Bg-postItem_header-left span {
    color: #242424;
    font-size: 12px;
    font-weight: 600;
    margin-left: 8px;
}

.Bg-postItem_header-right{
    
}

.Bg-postItem_header-right i{
    cursor: pointer;
    padding: 4px 8px;
}

.Bg-postItem_body{
    align-items: center;
    display: flex;

}

.Bg-postItem_body-info{
    font-size: 14px;
    padding-right: 32px;
}

.Bg-postItem_body-info h2{
    color: #242424;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
    margin-top: 8px;
}

.Bg-postItem_body-info_end{

}

.Bg-postItem_body-img{

}

.Bg-body_right {

}
