body {
    margin: 0;
    font-family: 'Montserrat',
        Arial,
        Helvetica,
        sans-serif;
}
.main_login {
    display:  flex;
    justify-content: center;
    height: 100vh;
    position: relative;
    align-items: center;
    right: 30px;
}

.coatings {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)),url(/assets/img/login/pic_login.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.login_container {
    position: relative;
    background-color: white;
    border-radius: 2%;
    z-index: 5;
    margin-top: -40px;
    right: 30px;
}

.login_content {
    max-width: calc(640px - 32px);
    min-height: 504px;
    padding: 48px 16px;
    width: 640px;
}

.login_back{
    position: absolute;
    padding: 32px;
    top: 0;
    left: 0;
}

.login_back i {
    font-size: 22px;
    color: #404040;
    cursor: pointer;
}

.login_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_header .login_logo{
    border-radius: 8px;
    width: 44px;
    height: 44px;
}

.login_header h1 {
    color: #292929;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;
}

.login_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_formbody {
    width: 380px;
    max-width: 100%;
    margin-top: 16px;
}

.login_formbody-top {

}

.formbody-top_title {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    font-size: 14px;
    font-weight: 500;
}

.formbody-yop_inputSDT {
    background: rgba(22, 24, 35, .06);
    border: 1px solid rgba(22, 24, 35, .06);
    border-radius: 44px;
    display: flex;
    height: 44px;
    align-items: center;
    margin-top: 10px;
}

.formbody-yop_inputSDT input {
    background-color: transparent;
        border: none;
        display: block;
        flex: 1 1;
        font-size: 14px;
        outline: none;
        padding: 12px 20px;
}
.inputSDT-district {
    /* margin: auto 14px; */
}

.line{
    width: 1px;
    height: 70%;
    background-color: rgba(22, 24, 35, .06);
}


.district-content {
    padding: 0 20px;
    font-size: 14px;
    font-weight: 500;
    color: #292929;
}

.district-content i {
    margin-left: 6px;
}


.login_formbody-bottom {
    margin-top: 10px;
}

.formbody-bottom_content {
    background: rgba(22, 24, 35, .06);
    border: 1px solid rgba(22, 24, 35, .06);
    border-radius: 44px;
    display: flex;
    height: 44px;
}

.formbody-bottom_content input {
    background-color: transparent;
        border: none;
        display: block;
        flex: 1 1;
        font-size: 14px;
        outline: none;
        padding: 12px 20px;
}

.formbody-bottom_content .btn_send {
    background-color: #ccc;
    color: #757575;
    align-items: center;
    border-radius: 44px;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    margin: 1px;
    min-width: 140px;
}

.login_formbody-btn {
    padding: 12px 22px;
    background-color: #91ede4;
    border-radius: 24px;
    margin-top: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.btn_Dangnhap {
    text-decoration: none ;
}

.login_formbody-btn span {
    font-size: 16px;
    font-weight: 600;
}

.signing {
    font-size: 14px;
    line-height: 1.8;
    padding: 24px 16px 0 ;
}

.signing span {

}

.link_signing {
    color: #f05123;
    font-weight: 600;
    text-decoration: none;
}

.login-content_footer {
    font-size: 11px;
    line-height: 1.6;
    color: #666;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
}

.login-content_footer a {
    color: currentColor;
}

.login_about {
    position: absolute;
    width: 100%;
}

.login_about-content {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    color: #fff;
}

.login_about-content a {
    color: #fff;
    text-decoration: none;
    padding: 0 8px;
}
