html ::-webkit-scrollbar {
    border-radius: 0;
    height: 8px;
    width: 8px;
}
html ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.15);
    border-radius: 4px;
}
html ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0;
}

body {
    margin: 0;
    font-family: system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

h2 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    cursor: default;
}

.seemore--mobile {
    display: none;
}

.slisdeshow--wrapper-dost-check{
    padding: 4px 25px !important;
    background-color:#9aa6af !important;
}

.main {

}

.header {
    width: 100%;
    border-bottom: 1px solid #e8ebed;
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: #fff;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    height: 65px;
    padding:0 28px;
    align-items: center;
}

.NavBar--logo {
    display: flex;
    align-items: center;
}

.NavBar--logoicon {
    display: flex;
    height: 38px;
    width: 38px;
    border-radius: 8px;
}

.NavBar--logoHeading {
    margin-left: 16px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.NavBar--seach {
    display: flex;
    align-items: center;
    border: 2px solid #e8e8e8;
    border-radius: 20px;
    width: 400px;
    height: 38px;
    padding: 0 16px 0 16px;
}

.NavBar--seach .fa-magnifying-glass {
    width: 30px;
    height: 32px;
    font-size: 20px;
    padding-top: 12px;
    color: #717171;
}

.NavBar--search_input {
    border: none;
    outline: none;
    padding: 0 4px;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    flex: 1 ;
}


.NavBar--actions{
    display: flex;
    align-items: center;
}

.NarBar--action_myLearn {
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-right: 16px;
    font-family: system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

.NavBar--actions .fa-bell{
    font-size: 20px;
    padding: 8px;
    color: #707070 ;
    cursor: pointer;
}

.NavBar--actions .fa-bell:hover{
    color: #333;
}

.NavBar--actions_Avarta{
    margin-left: 12px;
    cursor: pointer;
}

.NavBar--Avarta {
    height: 28.8px;
    width: 28.8px;
    border-radius: 50%;
    border: 1px solid #333;
}

.contens {
    margin-top: 16px;
    display: flex;
    min-height: 100vh;
}

.contens--SideBar_sticky {

}

.contens--SideBar {
    max-width: 80px;
    padding: 0 12px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    position: sticky;
    left: 0;
    top: 82px;
}

.SideBar--blogIcon {
    width: 44px;
    height: 44px;
    background-color: #1473e6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

.SideBar--blogIcon .fa-plus {
    color: #fff;
    font-size: 16px;
    transition: all ease 0.3s;
    
}

.SideBar--blogIcon:hover i{
    transform: scale(1.5);
}

.SideBar--list {
    font-size: 11px;
    font-weight: 600;
    margin: 10px 0;
}

.SideBar--list li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    border-radius: 16px;
    background-color: #fff;
    margin-top: 4px;
}

.SideBar--list .activate {
    background-color: #e8ebed;
}

.SideBar--list li:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.SideBar--list div {
    color: #1a1a1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SideBar--list .fa-solid {
    font-size: 18px;
    color: #1a1a1a;
}

.contens--Conten {
    padding: 0 40px 0 20px;
    max-width: calc(100% - 156px);
}

.Contet--main {
    
}

.Home--slisdeshow {

}

.slisdeshow--wrapper {
    position: relative;
}

.slisdeshow--wrapper-back {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    color: #4b4b4b;
    cursor: pointer;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    text-align: center;
    transform: translate(-50% , -50%);
    top: 45%;
    left: 0;
    width: 32px;
    z-index: 1;
}

.slisdeshow--wrapper-back .fa-angle-left{

}

.slisdeshow--wrapper-list {
    max-width: 100%;
    display: flex;
}

.slick--track{
    height: 270px;
    color: #fff;
    display: flex;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    transition: all ease-in-out 0.5s;
    overflow-x: auto;
}

.slick--track::-webkit-scrollbar {
    display: none;
} 
.slick--slide-01{
    background: linear-gradient(to right, rgb(104, 40, 250), rgb(255, 186, 164));
}

.slick--slide-02{
    background: linear-gradient(to right, rgb(40, 119, 250), rgb(103, 23, 205));
}

.slick--slide-03{
    background: linear-gradient(to right, rgb(118, 18, 255), rgb(5, 178, 255));
}

.slick--slide-04{
    background: linear-gradient(to right, rgb(254, 33, 94), rgb(255, 148, 2));
}

.slick--slide-05{
    background: linear-gradient(to right, rgb(0, 126, 254), rgb(6, 195, 254));
}

.slick--slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slick--slide a {
    color: #fff;
}

.slick--slide_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 36px 36px 36px;
    line-height: 1.6;
    font-size: 16px;
}

.slide_left--heading {
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0 8px 0;
}


.slide_left--decs {
    margin-bottom: 23px;
}

.slide--btn {
    border: 2px solid #fff;
    border-radius: 16px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    max-width: 124px;
    padding: 4px 10px;
    text-align: center;
    
}

.slide--btn:hover {
    background-color: #fff;
    color: #6828fa;
}

.slick--slide_right {

}

.slide_right--img {

}

.icon--king img{
    width: 24px;
    height: 24px;
}

.slisdeshow--wrapper-next {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    color: #4b4b4b;
    cursor: pointer;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    text-align: center;
    transform: translate(50% , -50%);
    right: 0;
    top: 45%;
    width: 32px;
    z-index: 1;
}

.slisdeshow--wrapper-next:hover i,
.slisdeshow--wrapper-back:hover  i{
    color: #000;
}

.slisdeshow--wrapper-dost {
    display: flex;
    margin: 18px 0 0 40px;
}

.slisdeshow--wrapper-dost li {
    margin-left: 10px;
}
.slisdeshow--wrapper-dost li button{
    cursor: pointer;
    background: #dce0e3;
    border: 0;
    color: transparent;
    display: block;
    font-size: 0;
    line-height: 0;
    outline: none;
    padding:4px 6px;
    width: 32px;
    border-radius: 5px;
}

.slisdeshow--wrapper-dost li::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}
.slisdeshow--wrapper-dost li::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.Home--wrapper {
    padding: 0 44px 74px 44px;
    margin-top: 58px;
}

.wrapper_list {

}

.wrapper_list-sub--heading {
    color: #82919b;
    font-size: 14px;
    margin: 14px 0 0 0;
}

.wrapper_list--heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.wrapper_list--heading-title {
    margin: 16px 0;
    color: #242424;
    font-size: 24px;
    font-weight: 900;
}

.title_new {
    background-color: #1473e6;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 6px;
    text-transform: uppercase;
    position: relative;
    border-radius: 4px;
    top: -6px;
    right: -4px;
}

.wrapper_list--heading-view_all {
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    margin-right: 4px;
    padding: 8px 0 8px 8px;
    color: #f05123;
    text-decoration: none;
}

.wrapper_list--heading-view_all i {
    position: relative;
    top: 1px;
    transition: all ease 0.3s;
    margin-left: 4px;
}

.wrapper_list--heading-view_all:hover {
    text-decoration: underline;
}

.wrapper_list--heading-view_all:hover i{
    transform: translateX(4px);
}

.wrapper_list--body {
    min-height: 200px;
}

.wrapper_list--body_row {

}

.wrapper_list--body_col{
    margin-bottom: 32px;
    width: 100%;
}

.wrapper_list--body_col-item {

}

.wappe_list-item--img{
    display: block;
    background-color: rgba(0,0,0,.1);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    object-fit: cover;
    overflow: hidden;
    padding-top: 54%;
    position: relative;
    cursor: default;
}

.view_more {
    cursor: pointer;
}

.view_more:hover::after {
    background-color: rgba(0,0,0,.3);
    content: "";
    inset: 0;
    position: absolute;
}

.view_more:hover .btn_in-item--img {
    top: 50%;
    transform: translate(-50%,-50%);
    /* visibility: visible; */
    cursor: pointer;
}

.btn_in-item--img {
    position: absolute;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 9px 16px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    font-family: inherit;
    line-height: 1.15;
    border-radius: 999px;
    text-align: center;
    left: 50%;
    top: 100%;
    transform: translate(-50%,0);
    /* visibility: hidden; */
    transition: all ease 0.3s;
    z-index: 1;
}


.icon_in--item {
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: rgba(0,0,0,.3);
    width: 26px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.icon_in--item img{
    padding: 6px;
    width: 16px;
    height: 16px;
}

.title_of-item--img {
    margin: 12px 0;
}

.title_of-item--img a {
    font-size: 16px;
    color: #292929;
    font-weight: 600;

    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.price {

}

.new-price {
    font-size: 16px;
    font-weight: 600;
    color: #f05123;
}

.old--price {
    font-size: 14px;
    margin-right: 8px;
    text-decoration: line-through;
}

.icon_number_user {
    color: #757575;
    margin-right: 16px
}

.PostItem_author {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #757575;
    margin-left: 2px;
}

.PostItem_author i {
    color: #1b74e4;
}

.PostItem_avarta {
    border-radius: 50%;
    margin-right: 8px;
}

.PostItem_avarta--vip {
    align-items: center;
    background: linear-gradient(180deg, #ffd900, #b45264 93.68%);
    display: flex;
    justify-content: center;
    padding: 2px;
    position: relative;
}

.Fallback_avarta {
    height: 24px;
}

.Fallback_avarta :nth-child(1){
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.Fallback_avarta :nth-child(2) {
    position: absolute;
    width: 9px;
    height: 9px;
    top: -1px;
    right: -6px;
}

.PostItem_user_name {
    color: #292929;
    font-weight: 600;
}

.videoItem {
    display: flex;
    align-items: center;
    color: #757575;
    font-size: 14px;
    margin-left: -24px;
}

.videoItem > div {
    margin-left: 24px;
}

.videoItem > div > span {
    margin-left: 4px;
}

.footer_center {
    display: flex;
    justify-content: center;
}

.footer {
    padding: 68px 0 40px 0;
    background-color: #181821;
    color: #a9b3bb;
    font-size: 14px;
}

.footer_conten {
    margin: 0 218px;
}

.footer_conten--top {

}

.footer--titleH_logo {
    font-size: 16px;
    width: 700;
    color: #fff;
    margin-left: 8px;
}

.footer--logo {

}

.footer_wed--infor-list{
    margin: 14px 0;
    line-height: 22px;
}

.footer_wed--infor-list  a {
    color: #a9b3bb;
}

.footer_conter--bot {

}

.footer_heading {
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 10px;
    text-transform: uppercase;
}

.footer_wed--conten-list {
    margin: 10px 0;
}

.footer_wed--conten-list a{
    color: #a9b3bb;
}

.footer_wed--conten-list li {
    line-height: 22px;
    margin-bottom: 8px;
}

.footer--bot_center {
    display: flex;
    margin-top: 42px;
    justify-content: space-between;
}

.footer--bot_copyright {
    display: flex;
    align-items: center;
}

.footer--bot_list_app--society {
    display: flex;
}

.footer--bot_list_app--society li{
    margin-left: 12px;
}

.footer--bot_list_app--society .fa-youtube {
    height: 28px;
    width: 32px;
    font-size: 22px;
    background: #eb2c3b;
    border-radius: 3px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer--bot_list_app--society .fa-square-facebook {
    height: 28px;
    width: 32px;
    font-size: 32px;
    background: #000;
    border-radius: 3px;
    color: #4867aa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer--bot_list_app--society .fa-tiktok {
    height: 28px;
    width: 32px;
    font-size: 26px;
    background: #000;
    border-radius: 3px;
    color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
}