/* PC */
@media (min-width: 1024px) {
    .NavBar--iconBarMB {
        display: none;
    }

    .NavBar--iconSearchMB {
        display: none;
    }
}

/* Table */
@media (min-width: 740px) and (max-width:1023px) {
    .NavBar--iconBarMB {
        display: none;
    }

    .NavBar--iconSearchMB {
        display: none;
    }
}

/* Mobile */
@media (max-width:739px) {
    @keyframes ani_next {
        from {
            transform: translateX(-90%);
            opacity: 0;
        }

        to {
            transform: translateX(0%);
            opacity: 1;
            display: block;
        }
    }

    @keyframes ani_back {
        from {
            transform: translateX(0%);
            opacity: 1;
        }

        to {
            transform: translateX(-100%);
            opacity: 0;
            display: none;
        }
    }

    @keyframes anipr_back {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
            display: none;
        }
    }

    html ::-webkit-scrollbar {
        border-radius: 0;
        height: 8px;
        width: 8px;
    }

    .header {}

    .NavBar {
        padding: 0 16px;
    }

    .NavBar--iconBarMB {}

    .NavBar--iconBarMB i {
        font-size: 20px;
        color: #707070;
    }

    .NavBar--logo {
        display: none;
    }

    .NavBar--seach {
        display: none;
    }

    .NavBar--actions {}

    .NavBar--actions {}

    .NavBar--iconSearchMB {}

    .NavBar--iconSearchMB i {
        font-size: 20px;
        color: #707070;
        padding: 8px 12px;
    }

    .NarBar--action_myLearn {
        display: none;
    }

    .fa-solid .fa-bell {}

    .NavBar--actions_Avarta {
        display: none;
    }

    .contens {}

    .contens--SideBar_sticky {
        display: none;
    }

    .contens--Conten {
        padding: 0 16px;
        max-width: calc(100% - 32px);
    }

    .Contet--main {}

    .Home--slisdeshow {}

    .slisdeshow--wrapper {}

    .slisdeshow--wrapper-back {
        display: none;
    }

    .slisdeshow--wrapper-list {}

    .slick--slide_right {
        display: none;
    }

    .slick--track {}

    .slisdeshow--wrapper-next {
        display: none;
    }

    .slisdeshow--wrapper-dost {
        margin: 18px 0 0 0;
    }

    .seemore--mobile {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99999;
        background-color: rgba(0, 0, 0, 0.3);
        /* display: block; */
    }

    .seemore--mobile-body {
        width: 75%;
        height: 100vh;
        background-color: #fff;
        padding: 16px 0 0 16px;
        overflow-y: auto;

    }

    .seemore--mobile-body {}

    .seemore-body--user {
        padding: 16px 0 0 20px;
    }

    .seemore-avatarUser {}

    .seemore-avatarUser img {
        width: 79px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid #333;
    }

    .seemore-nameUser {
        margin-top: 12px;
        font-size: 16px;
        font-weight: 600;
    }

    .seemore-body--listWrap {
        margin-top: 24px;
    }

    .seemore--listPr {
        padding: 8px 0;
        margin-bottom: 12px;
        border-bottom: 1px solid rgba(0, 0, 0, .079);
    }

    .seemore--listCd {
        padding: 16px 0 16px 16px;
    }

    .seemore--listCd,
    .seemore--listCd a {
        color: #333333;
        display: block;
        font-size: 16px;
        font-weight: 600;
    }

    .seemore--listCd i,
    .seemore--listCd a i {
        color: #757575;
        margin-right: 16px;
    }

    .seemore--mobileSetting {}

    .Setting--listmb {
        display: none;
        padding-left: 20px;
    }

    .Setting--listmb li {
        padding: 16px 0 16px 16px;
        font-size: 16px;
        font-weight: 600;
        color: #333333;
    }

    .Setting--listmb li a {
        color: #333333;
    }

    .seemore--mobileSetting-down,
    .seemore--mobileSetting-right {
        padding-left: 120px;
    }

    .wrapper_list--heading-view_all {
        display: none;
    }

    .footer_conten {
        margin: 0;
    }

    .footer_conten--top {
        padding: 0 16px;
    }

    .footer_conten--top .footer_center {
        justify-content: normal;
    }

    .footer--bot_center {
        display: block;
        padding: 0 16px;
    }

    .footer--bot_list_app--society {
        margin-left: -12px;
        margin-top: 20px;
    }

    .Home--wrapper {
        padding: 0 0 74px 0;
    }

    .wrapper_list--body_row {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .wrapper_list--body_col-item {
        width: 60vw;
    }

    .hide_BM {
        display: none;
    }
}

/* end Mobile */