.main--roadmap{
    padding: 8px 44px 0;
    margin-bottom: 40px;
}
.container--top{
    margin-bottom: 80px;
}
.container--top_heading{
    color: #242424;
    font-size: 1.8rem;
    font-weight: 900;
}
.container--top_conten{
    line-height: 1.6;
    max-width: 840px;
}
.container--body{

}
.select--roadmap{
    margin-top: 24px;
}
.learingPathItem{
    border: 2px solid #e8e8e8;
    border-radius: 16px;
    padding: 24px;
    width: 460px;
    
}
.learingPathItem--title{
    display: flex;
    margin-bottom: 20px;
}
.learingPathItem--title_conten{

}

.learingPathItem--title_conten > h2 {
    color: #242424;
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 14px;
}

.learingPathItem--title_conten>p{
    line-height: 1.6;
    font-size: 14px;
}

.learingPathItem--title_img{
    padding-left: 24px;
}

.learingPathItem--title_img  img {
    border-radius: 50%;
    height: 98px;
    object-fit: cover;
    width: 98px;
    padding: 8px;
}
.learingPathItem--title_img_round{
    border: 5px solid #f05123;
    border-radius: 50%;
}
.learingPathItem--subjects{
    display: flex;
    margin: auto 0 28px;
}
.learingPathItem--subjects_item{
    margin: 0 4px;
}
.learingPathItem--subjects_item_round{
    border: 2px solid #f05123;
    border-radius: 50%;
}
.learingPathItem--subjects_item_img{
    display: flex;
    align-items: center;
    justify-content: center;
    size: 40px;
    padding: 6px;
    align-items: center;
}
.learingPathItem--subjects_item_img >img {
    width: 26px;
    height: 26px;
}
.learingPathItem--btn{
    background-color: #f05123;
    color: #fff;
    border: 1px solid #f05123;
    border-radius: 999px !important;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
    text-align: center;
    cursor: pointer;
}
.add-group{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-group_left{
    width: 400px;
}

.add-group_right {

}

.add-group_left >h2{
    margin: 14px 0;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.6;
}

.add-group_left > p{
    margin: 14px 0; 
    font-size: 14px;
    line-height: 1.6;
}

.add-group_right > img {
    position: relative;
    right: -150px;
    width: 420px;
}

.add-group_left-btn a{
    color: #292929;
}
.add-group_left-btn {
    border: 2px solid #292929;
    border-radius: 999px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-top: 8px;
    padding: 10px 16px;
    text-align: center;
    cursor: pointer;
}

.add-group_left-btn:hover{
    background-color: #292929;
}
.add-group_left-btn:hover a{
    color:#fff;
}